/* #root style removed to allow full-width layout */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

//chat bot styles
.chatbox {
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.messages {
  height: 250px;
  overflow-y: auto;
}

.user {
  text-align: right;
  margin: 6px;
  font-weight: bold;
}

.bot {
  text-align: left;
  margin: 6px;
  color: #444;
}
